/data 
/frames
/frames2
/frames_mesh
/frames_mesh1e6
/outs
/frames_interp
/EoSTables
/meshes_interpolated
/rendered_frames
/init_impact_1e6.hdf5
/rendered_frames2
/rendered_frames3
/meshes_interpolated2
/meshes_interpolated3
/outs2
/outs3
